<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calendar</title>

    <link rel="stylesheet" href="../style/calendar.css">
    <script src="../js/jquery.js"></script>


</head>
<body>

<div class="calendar">
    <div class="head">
        <button> << </button><button>1111</button><button> >> </button>
    </div>
    <div>
        <table>
            <thead class="table-head">
            <tr>
                <td><button>一</button></td>
                <td><button>二</button></td>
                <td><button>三</button></td>
                <td><button>四</button></td>
                <td><button>五</button></td>
                <td><button>六</button></td>
                <td><button>日</button></td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>

        </table>
    </div>

</div>

    <script src="../js/calendar.js"></script>
</body>
</html>