<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>carousel</title>
    <link rel="stylesheet" href="../style/carousel.css">
    <script src="../js/jquery.js"></script>
</head>
<body>

<div class="carousel" id="carousel">
    <div>
        <img src="../imgs/3-5.PNG" width="400px" height="400px">
        <img src="../imgs/3v5.PNG" width="400px" height="400px">
        <img src="../imgs/3-5.PNG" width="400px" height="400px">
    </div>
    <ul>
        <li><input type="radio" name="choose" checked ></li>
        <li><input type="radio" name="choose" ></li>
        <li><input type="radio" name="choose" ></li>
    </ul>

</div>
<script src="../js/carousel.js"></script>

</body>
</html>